.parent {
    text-align: center;
    
  }

.header-h1 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Century Gothic', sans-serif;
    color: #3ba0ff;
    text-transform: uppercase;
}

.table {


    border-radius: 10px;
    box-shadow: 0 0 7px 3px #3ba0ff;


   
    padding: 10px 10px 10px 10px;
    margin: 20px auto;

    width: 1400px;
    height: 400px;

    background: #ffffff;
    
}


/* график реального времени*/
#container {
    width: 900px;
    height: 400px;
    margin: 20px auto;
}







.about {
    display:inline-block;
}











/* таблица с вкладками*/
.interface_tabs {


    border-radius: 10px;
    box-shadow: 0 0 7px 3px #3ba0ff;


   
    padding: 10px 10px 10px 10px;
    margin: 20px auto;

    width: 1200px;
    height: 400px;

    background: #ffffff;
    
}

.table_cell {
    width: 500px;
    height: 300px;
}


.table_cell_graph {
    width: 900px;
    height: 100px;
}



.button {
    width: 100px;
    height: 50px;

    display: inline-block;
    background: #3ba0ff;
    color: #ffffff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}



.button:hover {
    background-color: #212ee6; /* Цвет фона при наведении */
}






.button_save {
    width: 180px;
    height: 30px;

    display: inline-block;
    background: #3ba0ff;
    color: #ffffff;
    /*padding: 5px;*/
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
/*
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    */
}



.button_save:hover {
    background-color: #212ee6; /* Цвет фона при наведении */
}







.quer {
    text-align: center;


}




ul.ordering {    list-style:none;   min-width:250px; }
ul.ordering li
{ 
    text-align: left;
    display: block; 
    clear: left; 
    vertical-align: middle;  
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    line-height: 20px; 
    /*padding-left: 5px; */
    padding: 20px 20px 20px 20px;
   

}
ul.ordering li span{  width: 50px; height: 50px; background: black;  display:inline-block; margin-right:6px }
ul.ordering li:nth-child(2) span{ background:red !important; }
ul.ordering li:nth-child(3) span{ background:orange !important;  }
ul.ordering li:nth-child(4) span{ background:blue !important;  }
ul.ordering li:nth-child(5) span{ background:cyan !important;  }
ul.ordering li:nth-child(6) span{ background:pink !important;  }









.circle {
    width: 50px;
    height: 50px;
   /* background: #7fee1d;*/
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;

    margin-bottom: 10px; 
    margin-top: 10px;

    
}
    
.text_center_middle {
    color: #ffffff;
    text-align: center;
    
    line-height: 50px;
}
    


.two { /*width: 30em; max-width: 100%;*/ }
.two p { display: inline-block; max-width: 50%; }
.two p:nth-child(1) { float:left; }
.two p:nth-child(2) { float:right; }





.rectangle {
    border: 2px solid black;
   /* padding: 10px;*/
   border-radius: 20px;
  
    width: 150px;
    height: 50px;
    text-align: center;
  }







.tabs {
   /* font-size: 0;
    margin: 20px auto;*/
    /*width: 900px;*/
    /*height: 100px;*/


  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;

    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;




  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3,
  #tab-btn-4:checked~#content-4 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;

    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }


#container_2 {
    width: 900px;
    height: 400px;
    margin: 10px auto;
}

#container_3 {
    width: 900px;
    height: 400px;
    margin: 10px auto;
}

#container_4 {
    width: 900px;
    height: 400px;
    margin: 10px auto;
}

#container_5 {
    width: 900px;
    height: 400px;
    margin: 10px auto;
}


.graph_width {
    width: 900px;
    height: 400px;
}

/*
#content-4 {
    width: 900px;
    height: 400px;
    margin: 10px auto;
}
*/
.test_param {
    display:inline-block;
    width: 400px;
    height: 390px;
}
/*
    width: 868px;
    height: 191px;
*/
