.parent {
    text-align: center;
    
  }
  
  



  











.header-h1 {
  
  font-size: 11px;
  font-weight: 600;
  font-family: 'Century Gothic', sans-serif;
  color: #3ba0ff;
  text-transform: uppercase;

}











  
  
  
  
  
  
  
  .button {
      display: inline-block;
      background: #3ba0ff;
      color: #ffffff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-family: 'Century Gothic', sans-serif;
      font-size: 14px;
      line-height: 1;
      font-weight: 100;
      cursor: pointer;
      text-align: center;
      transition: 0.5s;
    }
  
  
  
  
    .button:hover {
      background-color: #2c39f3; /* Цвет фона при наведении */
     }
  
  
    .button-row {
      display: inline-block;
      /*margin-right: 50px; */
    }
  
  
  
    .answers_style_edition {
      text-align: left;
  
      border-radius: 10px;
      box-shadow: 0 0 7px 3px #d1d6d6;
     /* text-indent: 30px;*/
      padding: 10px 20px 10px 20px;
      margin: 20px;
      width: 250px;
      background: #ffffff;
    }
  
  
  
  
  
     #button_style {
      text-align: center;
  
     }
  
  
     #button_rasschitat {
      
      /*margin-left:100px;*/
      width: 100px;
      height: 35px;
      /*margin: 10px;*/
     }
  
  
     #button_ochistit {
     /* margin-left:100px;*/
      width: 100px;
      height: 35px;
     /* margin: 10px;*/
     }
  
  

  
     .form_style {
      resize: none;
      width: 200px;
      height: 10px;
   
      
      background: #f6f6f6;
      border: 1px solid #cecece;
      /*border-radius: 8px 0 0 0;*/
      padding: 8px 0 8px 10px;
     }
     
  
  
     .forms_style_edition {
      text-align: left;
  
      border-radius: 10px;
      box-shadow: 0 0 7px 3px #d1d6d6;
     /* text-indent: 30px;*/
      padding: 10px 20px 10px 20px;
      margin: 20px;
      width: 250px;
      background: #ffffff;
  
     }
  
  
  
  
    .table {
      /*margin: auto;*/
      /*
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  */
 
  
      border-radius: 10px;
      box-shadow: 0 0 7px 3px #3ba0ff;
  
  
     /* text-indent: 30px;*/
  
     
      padding: 10px 20px 10px 20px;
      margin: 20px auto;
      width: 400px;
      background: #ffffff;
      
    }
  

  
  
  
  
  
  
  
  
  
  
  
    form {
      overflow: hidden;
    }
    p {
      float: right;
      
      clear: both;
    }
  
    select {
      width: 60px; /* Ширина списка в пикселах */
     }
  
     #adde {
      width: 60px; /* Ширина списка в пикселах */
     }
  
  
  
     #second {
      /*color: red;*/
      text-align: right;
    }
